<h2>Available drones</h2>
<div class="row">
    {{#each drones}}
    <div>
    <h3>name: {{this.name}}</h3>
    <p>propellers: {{this.propellers}}</p>
    <p>speed: {{this.speed}}</p>
    </div>
    {{/each}}
</div>